---
import { getEntry } from "astro:content";
import HomeLayout from "../../layouts/HomeLayout.astro";
import { useTranslations } from "../../i18n/utils";

// Common components used in home page
import HeroSection from "../../components/HeroSection.astro";
import FeatureSection from "../../components/FeatureSection.astro";
import TestimonialPreview from "../../components/TestimonialPreview.astro";
import FeaturePreview from "../../components/FeaturePreview.astro";
import GuidePreview from "../../components/GuidePreview.astro";
import BlogPreview from "../../components/BlogPreview.astro";
import CompactFeatures from "../../components/CompactFeatures.astro";
import ProblemSolution from "../../components/ProblemSolution.astro";
import HowItWorks from "../../components/HowItWorks.astro";
import UseCases from "../../components/UseCases.astro";
import NumbersSection from "../../components/NumbersSection.astro";
import TestimonialSection from "../../components/TestimonialSection.astro";
import FAQSection from "../../components/FAQSection.astro";
import IndustryPreview from "../../components/IndustryPreview.astro";
import HeroABTestScript from "../../components/experiments/HeroABTestScript.astro";
import CallToAction from "../../components/CallToAction.astro";

export async function getStaticPaths() {
  return ['de', 'en'].map(lang => ({
    params: { lang },
    props: { lang }
  }));
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const homePage = await getEntry("pages", `${lang}/home`);
if (!homePage) throw new Error(`Home page content not found for language: ${lang}`);
const { Content } = await homePage.render();
---

<HomeLayout 
  title={homePage.data.title}
  description={homePage.data.description}
  lang={lang}
>
  <main class="bg-background-page">
    <Content 
      components={{
        HeroSection,
        FeatureSection,
        TestimonialPreview,
        FeaturePreview,
        GuidePreview,
        BlogPreview,
        CompactFeatures,
        ProblemSolution,
        HowItWorks,
        UseCases,
        NumbersSection,
        TestimonialSection,
        FAQSection,
        IndustryPreview,
        CallToAction,
      }}
      frontmatter={homePage.data}
    />
  </main>
  <HeroABTestScript />
</HomeLayout>